.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  padding: 0 20px;
  background: url("https://images.unsplash.com/photo-1536125434175-6c5657605fb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
    no-repeat center / cover;
  text-align: center;
}

.App::before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background: black;
  opacity: 0.5;
}

.App::after {
  animation: grain 20s steps(10) infinite;
  background-image: url("https://images.unsplash.com/photo-1580243117731-a108c2953e2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.03;
  position: fixed;
  top: -100%;
  width: 300%;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

.advice {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 85%;
}

button {
  display: flex;
  padding: 15px;
  color: white;
  border-radius: 5px;
  border: none;
  background: rgb(8, 138, 224);
  transition: 1s all ease;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: rgb(44, 160, 236);
  color: black;
}

@media only screen and (max-width: 900px) {
  .advice {
    max-width: 65%;
  }
}
