@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-family: "Playfair Display", serif;
}

footer {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  font-size: 12px;
}
